{%  extends 'layouts/base_cliente.html' %}

{%  block content %}
<h1>Acerca de</h1>

<div class="widecard">
  SISTEMAS DE INFORMACIÓN <br>
GRUPO 2 <br>
PROYECTO DE MATERIA - E-COMMERCE PARA LA EMPRESA MOTORAMA <br>
INTEGRANTES: <br>
  - Alfaro Guido <br>
  - Carrasco Alejandro <br>
  - Gutiérrez Natalia <br>
  - Martínez Jordan <br>
  - Reynolds Marco <br>
DESCRIPCIÓN <br>
Hola, Este es un modelo de e-commerce para la tienda MOTORAMA S.R.L. una tienda de repuestos de San Pedro, disfrute de las funcionalidades que ofrece el sitio web.
</div>
{%  endblock %}