{% extends 'layouts/base_cliente.html' %}

{% block content %}
<h1>Carrito</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in productos %}
                        <tr>
                            <td>{{ item.producto.nombre }}</td>
                            <td>{{ item.cantidad }}</td>
                            <td>{{ item.producto.precio }}</td>
                            <td>{{ item.subtotal }}</td>
                            <td>
                                <form
                                    action="{% url 'eliminarProductoCarrito' cliente.NIT item.id %}"
                                    method="POST"
                                >
                                    {% csrf_token %}
                                    <button class="btn-mas">
                                    Eliminar del carrito
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <!--<h1>Carrito</h1>

    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in productos %}
                <tr>
                    <td>{{ item.producto.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>{{ item.producto.precio }}</td>
                    <td>{{ item.subtotal }}</td>
                    <td>
                        <form
                            action="{% url 'eliminarProductoCarrito' cliente.NIT item.id %}"
                            method="POST"
                        >
                            {% csrf_token %}
                            <button class="btn-mas">
                            Eliminar del carrito
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>-->


    <div class="widecard">
        <p>Total a pagar: Bs.{{total}}</p>

    

    <a href="{% url 'confirmSale' cliente.NIT %}">Comprar</a>
    </div>
{% endblock %}