{% extends 'layouts/base_cliente.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in productos %}
            <tr>
                <td>{{ item.producto.nombre }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.producto.precio }}</td>
                <td>{{ item.subtotal }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<p>Total a pagar: Bs.{{total}}</p>

    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Seleccione su forma de pago:</legend>
            <div class="radiobox">
                <input type="radio" name="pago" value="tarjeta" id="pago1" checked>
                <label for="pago1">Tarjeta</label>
                <input type="radio" name="pago" value="transferencia QR" id="pago2">
                <label for="pago2">Transferencia con QR</label>
            </div>
        </fieldset>

        <!--{% csrf_token %}
        {{form.as_p}}<br>-->
        <button class="btn btn-info">
            Aceptar
        </button>
    </form>

{% endblock %}