{% extends 'layouts/base_cliente.html' %}

{% block content %}

<h1><b>{{producto.nombre}}</b></h1>
        
        <div class="displayer">
            {% if error %}
            <p><b>{{error}}</b></p>
            {% endif %}
            <p>{{producto.descripcion}}</p>
            <p><i>Disponible en stock: {{producto.stock}}</i></p>
            <p>${{producto.precio}}</p>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}<br>
                <button>
                    Agregar al Carrito
                </button>
            </form>
            <img src="../../media/{{product.img}}" width="150px">
            <p><a href="{% url 'products' cli=cliente.NIT %}">Volver</a></p>
            <p>holi{{product.img}}</p>
        </div>

{% endblock %}
