{% extends 'layouts\base_cliente.html' %}

{% block content %}
    <h1>Reservas</h1>
    <h2>Sus reservas aceptadas</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Encargado</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in ventas %}
            {% if reserva.estado == 'a' %}
                <tr>
                    <td>{{ reserva.fecha }}</td>
                    
                    <td>Aceptada</td>
                    <td>{{ reserva.administrador }}</td>
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'reservation' cliente.NIT 0 %}" method="POST">
        {% csrf_token %}
        <button>Reservas pendientes</button>
    </form>

    <form action="{% url 'reservation_Acpt' cliente.NIT 0 %}" method="POST">
        {% csrf_token %}
        <button>Reservas aceptadas</button>
    </form>


{% endblock %}