{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Motorama</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,300;0,600;0,900;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/sass/custom.css' %}">
    <!-- <link rel="stylesheet" href="../../static/styles/sass/custom.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"> </script>

</head>
<body>

<!--<nav class="navbar container">
    <ul>
        <a href="{% url 'home' cliente.NIT %}"><img src="{% static 'images/logo.png' %}"  alt="" /></a></li>
        <li><a href="{% url 'home' cliente.NIT %}">Home</a></li>
        <li><a href="{% url 'about' cliente.NIT %}">About</a></li>
        <li><a href="{% url 'products' cliente.NIT %}">Productos</a></li>
        <li><a href="{% url 'cart' cliente.NIT %}">Carrito</a></li>
        <li><a href="{% url 'reservation' cliente.NIT 0 %}">Reservas</a></li>
        <li><a href="{% url 'index' %}">Logout</a></li>
        <img src="{% static 'imagenes/logo.png' %}"  alt="" />

    </ul>
</nav>-->
    <nav class="container-vr navbar navbar-expand-lg navbar-secondary justify-content-center text-info">
        <a class="navbar-brand d-lg-none" href="{% url 'home' cliente.NIT %}">
        <img class="rounded-pill" src="{% static 'imagenes/logo_SinBorde.png' %}" style="width: 100px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' cliente.NIT %}">Inicio</a></li>

            <li class="nav-item"><a class="nav-link" href="{% url 'about' cliente.NIT %}">Info</a></li>

            <li class="nav-item"><a class="nav-link" href="{% url 'products' cliente.NIT %}">Productos</a></li>

            <a class="navbar-brand d-none d-lg-block">
                <img class="rounded-pill" src="{% static 'imagenes/logo_SinBorde.png' admin.pk %}" style="width: 100px;">
                </a>

            <li class="nav-item"><a class="nav-link" href="{% url 'cart' cliente.NIT %}">Carrito</a></li>

            <li class="nav-item"><a class="nav-link" href="{% url 'reservation' cliente.NIT 0 %}">Reservas</a></li>

            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Logout</a></li>
        </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>