{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrador GUI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/sass/custom.css'%}" />

  </head>
  <body>
    <!--<div class="container">
      <div class="btn-group-vertical btn-group-justified" role="group" aria-label="Vertical button group">
        <a href="{% url 'homeadmin' admin.id %}" class="btn btn-secondary">
          <img src="{% static 'images/logo.png' %}" width="200" alt="" />
        </a>
            <a href="{% url 'leerAdministradores' %}" class="btn btn-secondary">Administradores</a>
            <a href="{% url 'crearUsuarios' %}" class="btn btn-secondary">Crear Usuarios</a>
            <a href="{% url 'leerUsuarios' %}" class="btn btn-secondary">Usuarios</a>
            <a href="{% url 'leerReservas' %}" class="btn btn-secondary">Reservas</a>
            <a href="{% url 'leerProductos' %}" class="btn btn-secondary">Administrar Productos</a>
            <a href="{% url 'administrarProductos' %}" class="btn btn-secondary">Forms Productos</a>
            <a href="{% url 'aniadir_producto' %}" class="btn btn-secondary">Añadir Producto</a>
            <a href="{% url 'leerCategorias' %}" class="btn btn-secondary">Categorias</a>
            <a href="{% url 'crearCategorias' %}" class="btn btn-secondary">Añadir Categorias</a>
            <a href="{% url 'index' %}" class="btn btn-secondary">Logout</a>
      </div>
    </div>-->
    <section class="container">
      <div class="btn-group-vertical btn-group-justified" role="group" aria-label="Vertical button group">
        <a href="{% url 'homeadmin' admin.id %}" class="btn btn-secondary">
          <img src="{% static 'images/logo.png' %}" width="200" alt="" />
        </a>
        <a href="{% url 'leerAdministradores' admin.id %}" class="btn btn-secondary">Administradores</a>
        <a href="{% url 'crearUsuarios' admin.pk %}" class="btn btn-secondary">Crear Usuarios</a>
        <a href="{% url 'leerUsuarios' admin.pk %}" class="btn btn-secondary">Usuarios</a>
        <a href="{% url 'leerReservas' admin.pk %}" class="btn btn-secondary">Reservas</a>
        <a href="{% url 'leerProductos' admin.pk %}" class="btn btn-secondary">Administrar Productos</a>
        <a href="{% url 'administrarProductos' admin.pk %}" class="btn btn-secondary">Forms Productos</a>
        <a href="{% url 'aniadir_producto' admin.pk %}" class="btn btn-secondary">Añadir Producto</a>
        <a href="{% url 'leerCategorias' admin.pk %}" class="btn btn-secondary">Categorias</a>
        <a href="{% url 'crearCategorias' admin.pk %}" class="btn btn-secondary">Añadir Categorias</a>
        <a href="{% url 'index' %}" class="btn btn-secondary">Logout</a>
      </div>
    </section>
    <main class="container">
      {% block content %}
      
      {% endblock %}
    </main>
  </body>
</html>