body {
    background-image: linear-gradient(
      to bottom,
      #ffffff,
      #ece8ec,
      #ddd1d7,
      #cebbbd,
      #bea6a1
    );
    font-family: "Arial";
  }
  #main-container {
    margin: 150px auto;
    width: 600px;
  }
  table {
    background-color: #bea6a1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    padding: 20px;
    border: 2px solid black;
  }
  thead {
    background-color: #691010;
    border-bottom: solid 5px #000000;
    color: white;
  }
  tr:hover {
    background-color: #963a31;
    color: white;
  }
  #combo-box1 {
    margin: auto;
    width: 500px;
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-90%, -10%);
    position: pointer;
  }
  #combo {
    margin: auto;
    width: 0px;
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-30%, -10%);
    position: pointer;
  }
  #Tipo_de_producto {
    height: 30px;
    width: 200px;
  }
  #Productos_reservados {
    height: 30px;
    width: 200px;
  }
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  
  button.boton1 {
    width: 12rem;
    height: auto;
  }
  
  button.boton1 .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #691010;
    border-radius: 1.625rem;
  }
  
  button.boton1 .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  
  button.boton1 .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  
  button.boton1 .circle .icon.arrow::before {
    position: absolute;
    content: "\f060";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  
  button.boton1 .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  
  button:hover .circle {
    width: 100%;
  }
  
  button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  
  button:hover .button-text {
    color: #fff;
  }
  img {
    width: 150px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-5%, -5%);
  }
  /*botones tabla*/
  .btn-mas {
    background: rgb(0, 255, 0);
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
  }
  .btn-mas:hover {
    background: green;
  }
  .btn-menos {
    background: rgb(255, 0, 0);
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
  }
  .btn-menos:hover {
    background: rgba(255, 0, 0, 0.795);
  }
  
  .btn-detail {
    background: rgb(68, 0, 255);
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  #popupBody {
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #ccc;
    background: rgb(0, 0, 0);
    position: relative;
    margin: 20% auto;
    transition: all 5s ease-in-out;
  }
  #cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #f00;
    transition: all 200ms;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1000 !important;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }