<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="tabla.css">
</head>
<body>
    <div id="main-container">
        <table>
            <thead>
                <tr>
                    <th> </th><th>Nombre</th><th>Precio</th><th>Fecha</th><th>Cantidad</th><th>Penalizacion</th>
                </tr>
            </thead>
            <tr>
                <td>+-</td><td>Repuesto1</td><td>500</td><td>11/11/2022</td><td>2</td><td>0</td>
            </tr>
            <tr>
                <td>+-</td><td>Repuesto2</td><td>600</td><td>11/11/2022</td><td>2</td><td>0</td>
            </tr>
            <tr>
                <td>+-</td><td>Repuesto3</td><td>700</td><td>11/11/2022</td><td>2</td><td>0</td>
            </tr>
        </table>
    </div>
    <div id="combo-box1">
        <select name="Productos reservados" id="Productos_reservados">
            <option value="Productos reservados">Productos reservados</option>
            <option value="Productos recogidos">Productos recogidos</option>
        </select>
    </div>
    <div id="combo">
        <select name="Tipo_de_producto" id="Tipo_de_producto">
            <option value="Tipo">Tipo de Producto</option>
            <option value="Tipo1">Tipo1</option>
            <option value="Tipo2">Tipo2</option>
            <option value="Tipo3">Tipo3</option>
            <option value="Tipo4">Tipo4</option>
        </select>
    </div>
    <div id="boton">
        <a class="Regresar" href="">Regresar</a> 
    </div>
    
</body>
</html>