{% extends 'layouts/base.html'%} {% load static %} {% block content %}

    <div>
      <table class="table table-striped table-bordered border-primary">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Detalles</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Disponible</th>
          </tr>
        </thead>
        <form method="POST", enctype="multipart/form-data">
          {{ forms.management_form }} {% csrf_token %} {% for form in forms %}
            <td>{{form.nombre}}</td>

            <td>{{form.marca}}</td>

            <td>{{form.categoria_id_categoria}}</td>

            <td>{{form.descripcion}}</td>

            <td>{{form.stock}}</td>

            <td>{{form.precio}}</td>
            <td>{{form.disponible}}</td>
            {{form.id}}
            <td>{{form.img}}</td>
          </tr>
          
          {% endfor %}
          <button class="btn btn-info">Guardar</button>
        </form>
      </table>
      <!--fin logica-->
      {% endblock %}
    </div>