{% extends 'layouts/base.html'%} {% load static %} {% block content %}

    <div>
      <table class="table table-secundary table-bordered border-primary">
        <thead class="table-warning">
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Marca</th>
            <th scope="col">Categoria</th>
            <th scope="col">Detalles</th>
            <th scope="col" style="width: 10px;">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
            <th scope="col">Disponible</th>
          </tr>
        </thead>
        <form method="POST">
          {{ forms.management_form }} {% csrf_token %} {% for form in forms %}
            <td>{{form.nombre}}</td>

            <td>{{form.marca}}</td>

            <td>{{form.categoria_id_categoria}}</td>

            <td>{{form.descripcion}}</td>

            <td>{{form.stock}}</td>

            <td>{{form.precio}}</td>

            <td>{{form.img}}</td>

            <td>{{form.disponible}}</td>
            {{form.id}}
          </tr>
          
          {% endfor %}
          <button class="btn btn-info">Guardar</button>
        </form>
      </table>
      <!--fin logica-->
      {% endblock %}
    </div>