{% extends 'layouts/base.html' %} {% block content %} 
{{error}}

<div class="container d-flex justify-content-center" >
  <div class="card border-info " >
    <h3 class="card-header text-center">Crear Usuario</h3>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %} {{form.as_p}}
        <button class="btn btn-info">Guardar</button>
      </form>
    </div>
  </div>
</div>


<h1>Crear Usuario Administrador</h1>
<form method="POST">
  {% csrf_token %} {{form.as_p}}
  <button>Guardar</button>
</form>


{% endblock %}