{% extends 'layouts/base.html' %} {% block content %}

<h1 class="text-center">Administradores</h1>

{% for administrador in administradores %}
<div class="container align-self-center justify-content-center p-2">
      <article class="card bg-info">
        <div class="card-body">
          <h2 class="card-title text-white">Aminidstrador {{administrador.id}}</h2>
          <h5 class="card-title text-center text-white">Nombre: {{administrador.id}} </h5>
          <p class="card-text text-center text-white">Apellido: {{administrador.id}} </p>
          <p class="card-text text-center text-white">Correo: {{administrador.id}} </p>
          <p class="card-text text-center text-white">Celular: {{administrador.id}} </p>
        </div>
      </article>
</div>


{% endfor %} {% endblock %}