{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href='{% static "styles/Captcha.css" %}' rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <img class="Background"src="{% static 'images/MotoramaFondo.png' %}"> 
    <div class="wrapper">
        <div id="popup" class="overlay">
            <div id="popupBody">
              <h2>Estas seguro de rechazar el producto?</h2>
              <a id="cerrar" href="#">&times;</a>
              <div class="popupContent">
                <form
                  action="{% url 'rechazarReserva' reserva.id admin.pk %}"
                  method="POST"
                >
                  {% csrf_token %}
                  <button class="btn btn-info">Si</button>
                </form>

                <form action="{% url 'leerReservas' admin.pk %}">
                    <div id="Continuar" style="display:none" >
                        <a href="{% url 'paginaLoginAdmin' %}">Continuar</a>
                      </div>
                </form>
              </div>
            </div>
          </div>    
    </div>
    <script src="{% static 'js/scriptCaptcha.js' %}" type=""></script>
</body>
</html>