{% extends 'layouts/base.html'%} {% load static %} {% block content %}

    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Aceptar/Rechazar</th>
            <th>Fecha</th>
            <th>Carrito</th>
            <th>Forma de pago</th>
            <th>Cliente</th>
          </tr>
        </thead>
        {% for reserva in reservas %} {%if reserva.estado == 'p' %}
        <tr>
          <td>
            <form action="{% url 'aceptarReserva' reserva.id admin.pk %}" method="POST">
              {% csrf_token %}
              <button class="btn btn-info">Aceptar</button>
            </form>
            <p>
              <a href="#popup">
                <button class="btn-menos">Rechazar</button>
              </a>
            </p>
            <!-- Flexbox container for aligning the toasts -->
            <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
              <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                  <strong class="me-auto">Bootstrap</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  Estas seguro de rechazar el producto?
                  <div class="mt-2 pt-2 border-top">
                    <form action="{% url 'rechazarReserva' reserva.id admin.pk %}" method="POST">
                      {% csrf_token %}
                      <button class="btn btn-info btn-sm">Si</button>
                    </form>
                    <form action="{% url 'leerReservas' admin.pk %}">
                      <button class="btn btn-info btn-sm">No</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>{{reserva.fecha}}</td>
          <td>
            <form
              action="{% url 'detalleReserva' reserva.productos admin.pk %}"
              method="POST"
            >
              {% csrf_token %}
              <button class="btn btn-info">
                Detalle del carrito:{{reserva.productos}}
              </button>
            </form>
          </td>
          <td>{{reserva.forma_de_pago}}</td>
          <td>{{reserva.productos.cliente.id_usuario.apellido}}</td>
        </tr>
        {% endif %} {% endfor %}
      </table>
      <!--fin logica-->
    </div>


    
    <div class="container d-flex justify-content-between vh-100">
      <div class="row">
        <div class="col-lg-5 p-2">
          <form action="{% url 'leerReservas' admin.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-info">En espera</button>
          </form>
          <form action="{% url 'reservasAceptadas' admin.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-info">Confirmados</button>
          </form>
          <form action="{% url 'reservasFacturadas' admin.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn-info">Facturados</button>
          </form>
        </div>
        <!-- <div class="col-lg-7 p-2">
          <select class="form-select form-select-sm" name="Productos reservados" id="Productos_reservados">
            <option selected>Estado Reserva</option>
            <option value="Productos reservados">Reservas en espera</option>
            <option value="Productos recogidos">Reservas aceptadas</option>
          </select>
          <select class="form-select form-select-sm" name="Tipo_de_producto" id="Tipo_de_producto">
            <option selected>Tipo de Producto</option>
            <option value="Tipo1">Tipo1</option>
            <option value="Tipo2">Tipo2</option>
            <option value="Tipo3">Tipo3</option>
            <option value="Tipo4">Tipo4</option>
          </select>
        </div> -->
      </div>
    </div>
    <!--<button class="btn btn-info">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text">regresar</span>-->
{% endblock %}